@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

header {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 1rem;
}

.header-reklama :first-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-reklama :first-child h1 {
    font-size: 2.7rem;
    font-weight: 900;
}

.header-reklama :last-child img {
    width: 100%;
}
