@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.app {
    width: 95vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.wrapper {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem 0;
    
}

.btn {
    width: fit-content;
    font-size: 1.2rem;
    color: aliceblue;
    background-color: red;
    padding: 0.7rem 2rem;
    font-family: "inter";
    font-weight: 500;
    border-radius: 0.5rem;
    border: none;
}