.protsess-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgb(190, 190, 208);
}

.protsess-wrapper .protsess ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 4fr 5fr;
}

.protsess-wrapper .protsess ul li {
    display: flex;
    align-items: center;
    position: relative;

    border: 1px solid green;

}

.protsess-wrapper .protsess ul li h1 {
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid black;
    color: red;
    font-size: 3rem;
    text-align: center;
}

.protsess-wrapper .protsess ul li p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    
    color: rgb(61, 59, 59);
}

.protsess-wrapper .protsess ul li img {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

#protsess-download-icon {
    display: flex;
    flex-direction: column;

}

#protsess-download-icon .download-section {
    background-color: blue;
}